@reference '@/assets/tailwind.css';
.blue-btn {
  @apply bg-[var(--el-color-primary)] dark:bg-[var(--el-color-primary-dark-2)];
}

.bounce-enter-active {
  animation: bounce-in 0.3s;
}

.bounce-leave-active {
  animation: bounce-in 0.3s reverse;
}

@keyframes bounce-in {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

.reply-box-send:hover,
.reply-box-send .send-active {
  @apply bg-[var(--el-color-primary-light-3)] dark:bg-[var(--el-color-primary)] opacity-70;
}

.reply-box-send .send-text {
  @apply absolute z-10 text-white font-normal;
  font-size: var(--component-size);
}

.reply-box-send {
  @apply flex justify-center items-center relative rounded-lg cursor-pointer transition-all duration-200;
  width: calc(var(--component-size) * 4.375);
  height: calc(var(--component-size) * 2);
  background-color: var(--el-color-primary);
  opacity: 1;
}