@reference '@/assets/tailwind.css';
.text-list-container {
  @apply flex flex-col gap-2;
}

.text-list textarea {
  @apply relative block w-full resize-none overflow-x-hidden rounded border border-[var(--el-border-color-light)] bg-[var(--el-fill-color-light)] text-[var(--el-text-color-primary)] transition-all duration-300 outline-none;
  margin-top: calc(var(--component-spacing) * 1.2);
  height: calc(var(--component-size) * 6);
  line-height: var(--component-line-height);
}

.text-list textarea:focus {
  @apply border-[var(--el-color-primary)] bg-[var(--el-fill-color-blank)];
  height: calc(var(--component-size) * 7);
}

.text-list input:focus {
  @apply w-full border-[var(--el-color-primary)] bg-[var(--el-fill-color-blank)];
}

.text-list input {
  @apply relative m-0 h-full w-1/5 min-w-[calc(var(--component-size)*2)] overflow-x-hidden rounded border border-[var(--el-border-color-light)] bg-[var(--el-fill-color-light)] px-2 py-0 text-[var(--el-text-color-primary)] transition duration-200;
  margin-top: calc(var(--component-spacing) * 0.5);
  line-height: var(--component-line-height);
}

.text-list input:hover,
textarea:hover {
  @apply border-[var(--el-border-color)] bg-[var(--el-fill-color)];
}

.text-list input:focus {
  @apply w-fit bg-[var(--el-fill-color-blank)];
}