@reference '@/assets/tailwind.css';
.rank-item, .rank-item-wrapper {
    @apply flex flex-col items-center box-border relative w-50 h-70;
}
.rank-item{
    @apply mt-5;
}

.hall-avatar {
    @apply cursor-pointer;
}

.rank-item.one{
    @apply mt-14 scale-120;
}

.rank-item :deep(.avatar-box) {
    margin-right: 0;
    padding-top: calc(var(--component-size) * 0.0625);
}

.hall-avatar :deep(.border) {
    border: calc(var(--component-size) * 0.125) solid #e2d4a4;
}

.hall-avatar :deep(.avatar) {
    @apply w-full h-full;
}

.hall-avatar :deep(.url) {
    @apply w-full h-full;
}

.avatar-box :deep(.url) {
    @apply w-full h-full rounded-full;
}

.full-bg-img {
    width: calc(var(--component-size) * 7.5);
    height: calc(var(--component-size) * 9.375);
    object-fit: cover; /* 这会保证图片按比例缩放并覆盖整个 div */
    position: absolute;
}

.full-bg-img.one {
    width: calc(var(--component-size) * 9.375);
    height: calc(var(--component-size) * 12.5);
}

.rank-item .uname {
    z-index: 1;
    padding: calc(var(--component-size) * 0.1667);
    width: 100%;
    color: #ffefdc;
    font-weight: 1000;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    box-sizing: border-box;
}

.rank-item .number {
    z-index: 1;
    color: hsla(0, 0%, 100%, 0.6);
}

.rank-item .number span {
    color: #fff;
    font-weight: 1000;
}