@layer theme, base, element, components, utilities;
@import 'element-plus/dist/index.css' layer(element);
@import 'element-plus/theme-chalk/dark/css-vars.css' layer(elementDark);
@import "tailwindcss";
@import './theme.css';
@plugin 'daisyui';

@layer utilities {
  /* 菜单尺寸主题响应 */

  .size-xs {
    font-size: var(--component-font-size-sm);
    line-height: var(--line-height-snug);
    padding: var(--component-padding-x-sm);
  }

  .size-sm {
    font-size: var(--component-font-size-md);
    line-height: var(--line-height-normal);
    padding: var(--component-padding-x-md);
  }

  .size-base {
    font-size: var(--component-font-size-base);
    line-height: var(--line-height-normal);
    padding: var(--component-padding-x-base);
  }

  .size-lg {
    font-size: var(--component-font-size-lg);
    line-height: var(--line-height-normal);
    padding: var(--component-padding-x-lg);
  }

  .size-xl {
    font-size: var(--component-font-size-xl);
    line-height: var(--line-height-loose);
    padding: var(--component-padding-x-xl);
  }
}

@layer components {
  .el-message__content {
    font-size: var(--text-base)
  }

  .el-page-header__title {
    font-size: var(--text-base);
  }
  .el-page-header__content{
    font-size: var(--text-2xl);
  }
}