.qrcode-loading {
  background-image: url(//s1.hdslb.com/bfs/static/jinkela/passport-pc/assets/loadTV.gif);
  background-color: #f7f7f7;
  background-position: 50%;
  background-repeat: no-repeat;
}

.qrcode-loading > div {
  display: none;
}

.login-scan {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-scan__tv-img {
  margin-left: -80px;
  background-image: url(//s1.hdslb.com/bfs/static/jinkela/passport-pc/assets/tv.gif);
  background-position: -6px -18px;
  background-repeat: no-repeat;
  width: 70px;
  height: 44px;
}

.login-scan__qrcode {
  position: relative;
  box-sizing: border-box;
  margin-bottom: 8px;
  width: 158px;
  height: 158px;
  padding: 8px;
  border: 0.855491px solid #e3e5e7;
  border-radius: 6.84393px;
}

.login-scan__qrcode .qrcode__tip {
  position: absolute;
  top: 8px;
  left: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 140px;
  height: 140px;
  background: hsla(0, 0%, 100%, 0.9);
}

.login-scan__qrcode .qrcode__tip img {
  margin-bottom: 8px;
  padding: 14px;
  width: 20px;
  height: 20px;
  background: #fff;
  border-radius: 30px;
}

.login-scan__qrcode .qrcode__tip span {
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 16px;
  color: #61666d;
}

.login-scan__qrcode .qrcode-loading {
  background-image: url(//s1.hdslb.com/bfs/static/jinkela/passport-pc/assets/loadTV.gif);
  background-color: #f7f7f7;
  background-position: 50%;
  background-repeat: no-repeat;
}

.login-scan__qrcode .scan-tips-icon {
  position: absolute;
  height: 202px;
  width: 386px;
  background: #fff url(//s1.hdslb.com/bfs/static/jinkela/passport-pc/assets/qr-tips.png) no-repeat;
  background-size: 100% 100%;
  top: -44px;
  left: -114px;
}

.login-scan__txt {
  position: relative;
  width: 386px;
  height: 90px;
}

.login-scan__txt_bg {
  position: absolute;
  top: -20px;
  width: 386px;
  height: 115px;
  background-image: url(//s1.hdslb.com/bfs/static/jinkela/passport-pc/assets/2233pic.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.login-scan__txt p {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  color: #61666d;
}

.login-protocol {
  margin-top: 40px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
  color: #9499a0;
}

.login-protocol p {
  display: flex;
  justify-content: center;
}

.login-protocol label {
  margin: 0 6px;
}

.tabs_wp {
  margin-bottom: 24px;
  height: 20px;
  display: flex;
  align-items: center;
}

.tabs_wp div {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 16px;
  color: #9499a0;
}

.tabs_wp div:nth-child(odd) {
  width: 72px;
  cursor: pointer;
}

.tabs_wp div:nth-child(2n) {
  margin: auto 20px;
  width: 1px;
  height: 20px;
  background: #ddd;
}

.tabs_wp .tab_active {
  color: #00a1d6 !important;
}

.eye-btn {
  position: relative;
  display: inline-block;
  cursor: pointer;
  width: 20px;
  height: 20px;
}

.eye-btn svg {
  position: absolute;
  top: 0;
  left: 0;
}

.eye-btn:hover svg path {
  fill: #00a1d6 !important;
}

.btn_wp {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  width: 400px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 40px;
  text-align: center;
}

.btn__primary_big {
  width: 400px !important;
}

.btn_primary {
  width: 194px;
  height: 40px;
  cursor: pointer;
  color: #fff;
  background: #00a1d6;
  border-radius: 8px;
}

.btn_primary.disabled {
  cursor: not-allowed;
  background: #00a1d6 !important;
  opacity: 0.5;
}

.btn_other {
  width: 194px;
  height: 40px;
  cursor: pointer;
  color: #18191c;
  background: #fff;
  border: 1px solid #e3e5e7;
  border-radius: 8px;
}


.dialog__mask {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99;
}

.dialog__outline {
  position: absolute;
  top: calc(50% - 120px);
  left: calc(50% - 140px);
  width: 280px;
  height: 243px;
  background: #fff;
  border-radius: 8px;
  z-index: 999;
}

.dialog__body {
  padding: 24px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-gap: 16px;
  gap: 16px;
  text-align: center;
}

.dialog__body .body__title {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
}

.dialog__body .body__captcha-img_wp .captcha-img__img {
  box-sizing: border-box;
  width: 128px;
  height: 36px;
  background: #f7f7f7;
  border: 1px solid #e3e5e7;
  border-radius: 4px;
}

.dialog__body .body__captcha-img_wp .captcha-img__img img {
  width: 100%;
  height: 100%;
}

.dialog__body .body__captcha-img_wp .captcha-img__btn {
  margin-top: 8px;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 17px;
  text-align: center;
  color: #00aeec;
}

.dialog__body .body__captcha-img_wp .captcha-img__btn:hover {
  cursor: pointer;
}

.dialog__body .body__captcha-input {
  box-sizing: border-box;
  width: 240px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  border: 1px solid #e3e5e7;
  border-radius: 4px;
}

.dialog__footer {
  display: flex;
  justify-content: space-between;
  width: 280px;
  height: 44px;
  box-shadow: inset 0 0.5px 0 #e3e5e7;
}

.dialog__footer div {
  width: 50%;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}

.dialog__footer div:hover {
  cursor: pointer;
}

.dialog__footer div:first-child {
  color: #18191c;
}

.dialog__footer div:last-child {
  color: #00aeec;
}

.dialog__footer .footer__submit_disabled {
  color: #aeb3b9 !important;
}

.dialog__footer .footer__submit_disabled:hover {
  cursor: not-allowed;
}

.b-footer-wrap {
  width: 850px;
}

.login_mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 2000;
}

.login_mask[hide] {
  display: none;
}

.login_wp {
  width: 700px;
  min-height: calc(100vh - 538px);
  margin: 0 auto;
  padding-top: 82px;
  padding-bottom: 108px;
}

.login__main {
  display: flex;
  margin-top: 30vh;
}

.login__main .clickable {
  color: #00a1d6;
}
.login__main .clickable:hover {
  cursor: pointer;
}
.main__middle-line {
  margin: 44px 48px 0;
  width: 1px;
  height: 260px;
  background: #ddd;
}

.main__right {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  width: 100%;
  height: 100%;
  padding: 20px 20px 60px 20px;
}

.main__right .tab__form {
  width: 400px;
  height: 90px;
  border: 1px solid #e3e5e7;
  border-radius: 8px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.main__right .tab__form .form__item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  height: 44px;
  padding: 12px 20px;
}

.main__right .tab__form .form__item div:not(:last-child) {
  margin-right: 20px;
}

.main__right .tab__form .form__item input {
  flex: 1;
}

.main__right .tab__form .form__separator-line {
  display: block;
  width: 100%;
  height: 0;
  border-bottom: 1px solid #e3e5e7;
}
